*{
  place-items: center;
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: grid;
    place-items: center;
    /* grid */

}
.board{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}
#restartDiv{
  margin: 75px;
}
/* Remove top borders for first row */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* Remove bottom borders for last row */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* Remove left borders for first column */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

/* Remove right borders for last column */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}